* {
  background-size: cover;
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
}
.video-bg {
  opacity: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  background-attachment: fixed;
}
@media (max-width: 500) {
  * {
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .video-bg {
    opacity: 1;

    height: 90vh;
    width: 100vw;
    object-fit: fill;
    background-attachment: fixed;
    overflow: hidden;
  }
}
