img {
  max-height: 85%;
  width: 90%;

  align-self: center;
}
.card-wrapper {
  padding-top: 20px;
  background-color: rgb(197, 81, 81);
  height: 82%;
  width: 27%;
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: center;
  border-radius: 4%;
}
h2 {
  margin: 0;
}
h3 {
  margin-top: 0.5%;
}
.context {
  padding-top: 10px;
  height: 10%;
}
@media (max-device-width: 500px) {
  .card-wrapper {
    padding-top: 20px;
    background-color: rgb(197, 81, 81);
    height: 70vh;
    width: 80vw;
    position: relative;
    top: 2vh;
    left: 10vw;
    text-align: center;
    border-radius: 4%;
  }
  card-wrapper img {
    max-height: 80%;
    width: 10%;

    align-self: center;
  }
}
