.main-div {
  background-color: rgb(190, 178, 178);
  background-attachment: fixed;
  height: 100vh;
  z-index: -100;
  display: flex;
  overflow: hidden;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.show-case {
}
@media (max-device-width: 500px) {
  .show-case {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
