.stat-page {
  height: 90vh;
  width: 60vw;
  background-color: black;
  position: absolute;
  left: 35vw;
  top: 6vh;
  opacity: 0.8;
  border-radius: 4%;
}
button {
  align-self: center;
  font-family: Monsterat, sans-serrif;
  width: 12%;
}
p {
  padding: 10px 10px;
}
.passive-img {
  height: 12%;
  width: 10%;
  position: absolute;
  margin-top: 2%;
  left: 45%;
  top: 10%;
}
.pname {
  margin-top: 15%;
  font-size: 1vw;
}
.title h2 {
  font-size: 2vw;
}
@media (max-device-width: 500px) {
  .stat-page {
    height: 90vh;
    width: 90vw;
    background-color: black;
    position: absolute;
    left: 5vw;
    top: 6vh;
    opacity: 0.8;
    border-radius: 4%;
  }
  button {
    align-self: center;
    font-family: Monsterat, sans-serrif;
    width: 20%;
    height: 6%;
  }
  .pname {
    margin-top: 5%;
    font-size: 2vw;
  }
  .passive-img {
    height: 8%;
    width: 10%;
    position: relative;
    margin-top: 2%;
    left: 45%;
    top: 1%;
  }
}
