.input-container {
  background-color: white;
  height: 18%;
  width: 15%;
  border-radius: 50%;
  position: relative;
  top: 8%;
  left: 26vw;
  box-shadow: 5px 10px;
}
.input-container input {
  height: 20%;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 2 solid black;
  text-align: center;
  background-color: white;
  position: relative;
  left: 35px;
  top: 15px;
}
.input-container:hover {
  scale: 1.1;
  transition: scale 0.5s ease-in-out;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.top-label {
  position: relative;
  top: 18px;
  align-self: center;
}
.bot-label {
  align-self: center;
  position: relative;
  top: 15px;
}
@media (max-device-width: 500px) {
  .input-container {
    background-color: white;
    height: 20%;
    width: 45%;
    border-radius: 40%;
    position: relative;
    top: 8%;
    left: 30%;
    box-shadow: 5px 10px;
  }
  .input-container input {
    height: 40%;
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 2 solid black;
    text-align: center;
    background-color: rgb(228, 197, 197);
    position: relative;
    left: 25%;
    top: 5%;
  }
  .top-label {
    position: relative;
    top: 2%;
    align-self: center;
    margin-bottom: 0;
  }
  .bot-label {
    align-self: center;
    position: relative;
    bottom: 2%;
  }
}
