.header-container {
  height: 60vh;

  width: 100%;
}
.logo-container {
  opacity: 1;
  margin: 0 auto;
  width: max-content;
  z-index: 2;
}

.overlay {
  width: 40%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 30%;
  align-items: center;
}
.logo-container img {
  opacity: 1;
  height: 20vh;
  width: 22vw;
}
@media (max-device-width: 500px) {
  .header-container {
    height: 60vh;
    width: 100%;
    overflow: hidden;
  }
  .overlay {
    height: 40%;
    width: 60%;
    opacity: 1;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 20%;
    align-items: center;
  }
  .logo-container {
    opacity: 1;
    margin: 0 auto;
    height: 50%;
    width: 70%;
    z-index: 2;
    overflow: hidden;
  }
  .logo-container img {
    opacity: 1;
    height: 90%;
    width: 90%;
  }
}
