.card-container {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
  cursor: pointer;
}
.card-container:hover {
  opacity: 1;
  z-index: 100;
  scale: 1.3;
  transition: scale 0.5s;
  overflow: visible;
}
.image {
  height: 20vh;
  width: 18vh;
  border-radius: 4%;
}
.content:hover {
  background-color: black;
}
